<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Content Generator</title>
    <link rel="icon" type="image/png" href="../static/icon.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <div class="header-container">
        <h1 class="title">Automated Content Generator</h1>
        <div>
            <h3 class="description">A social media automation tool using generative AI.</h3>
        </div>
        <h3 class="authors">Developed by:</h3>
        <div>
            <a class="authors" href="https://www.kaydenchung.com/" target=”_blank”>Kayden Chung</a>
        </div>
        <div>
            <a class="authors" href="https://www.graysonmongru.com/" target=”_blank”>Grayson Mongru</a>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">

        <div class="input-container">
            <h2>Video Subject:</h2>
            <textarea id="input" name="input" rows="2" cols="30" required></textarea><br><br>
            <input class="submit-btn" type="submit" value="Submit">
        </div>

    </form>

</body>

</html>